[ req ]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = req_distinguished_name
req_extensions = req_ext

[ req_distinguished_name ]
C = US
ST = New York
L = New York
O = Your Organization
OU = Your Organizational Unit
CN = localhost
[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = begvn.home
IP.1 = 192.168.17.100
